@tailwind base;
@tailwind components;
@tailwind utilities;
body::-webkit-scrollbar {
    display: none;
    scroll-behavior: smooth;
}  
body{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
#table::-webkit-scrollbar {
    display: none;
    scroll-behavior: smooth;
}  
#table{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}